body {
}
 * {
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
}

.left {
    float: left;
}
.right{
    float: right;
}

header {
    width: 100%;
    background-color: #283e4a;
    height: 52px;
    position: fixed;
}

.container {
    width: 1170px;
    margin: auto;
}

#search {
    width: 250px;
    background-color: rgb(225, 233, 238);
    border: none;
    border-radius: 3px;
    height: 32px;
    margin: 11px;
    float: left;
}

.logo {
    background-color: #0077b5;
    border-radius: 2px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    font-size: 27px;
    color: #fff;
    margin: 8px;
    float: left;
    cursor: pointer;
}

.headerIcons {
    color: #e1e9ee;
    display: inline-block;
    margin-left: 170px;
}

    .headerIcons > ul > li {
        list-style: none;
        float: left;
        margin: 5px 27px;
        font-size: 25px;
    }

    .headerIcons > ul {
        text-align: center;
    }

        .headerIcons > ul p {
            font-size: 12px;
        }

        .headerIcons > ul > li > a {
            color: #e1e9ee;
            text-decoration: none;
        }

section {
    background-color: #f5f5f5;
    margin: auto;
    height: auto;
    padding-bottom: 30px
}
.container .space {
    height: 50px;
}
section .placeHolder{
    width: 800px;
    margin: 50px auto 0;
}
aside{
    width: 92px;
    margin: 150px 5px;
}

footer {
    clear: both;
    background-color: #f5f5f5;
    border-top: 1.5px solid #d9dadc;
    height: 100px;
}

    footer > div {
        margin: 20px;
    }

    footer a {
        color: #0077b5;
        text-decoration: none;
        padding: 10px;
    }

svg {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
}
.clear{
    clear: both;
}